.lineup{
    text-align: center;
    align-items: center;
    gap:32px;
    display: flex;
    flex-direction: column;
}

.lineup__titulo{
    font-family: var(--font-titulo);
    font-size: 64px;
    padding: 0 8rem;
}

.lineup__dia{
    display: inline-block;
    color: #ffffff;
    font-family: var(--font-titulo);
    font-size: 48px;
    padding: 1rem;
    background: var(--mostarda);
}

.lineup__principal{
    font-weight: 800;
    font-size: 48px;
    margin-top: 3rem;
}

.bandas{
    display: flex;
    gap: 32px;
    margin: 2rem 0;
    justify-content: center;
}

.lineup__bandas-1{
    font-weight: 700;
    font-size: 40px;
}

.lineup__bandas-2{ 
    font-weight: 700;
    font-size: 32px;
}

.lineup__bandas-3{
    font-weight: 500;
    font-size: 32px;
}