.ingressos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem 7.5rem;
    gap: 3rem;
}

.ingressos__titulo{
    font-weight: 400;
    font-size: 48px;
    font-family: var(--font-titulo);
    text-align: center;
}

.ingressos__formulario{
    display: grid;
    grid-template-areas:
    "nome nome"
    "email email"
    "ingresso data";
    gap: 2rem;
    padding: 0 18rem;
}

.formulario__nome{
    grid-area: nome;
}

.formulario__email{
    grid-area: email;
}

.formulario__ingresso{
    grid-area: ingresso;
}

.formulario__data{
    grid-area: data;
}

.formulario__texto{
    font-weight: 700;
    font-size: 32px;
}

.formulario__input{
    width: 100%;
    height: 48px;
    border: none;
    margin-top: 0.5rem;
    padding: 0.25rem;
    font-family: var(--font-texto);
    color: var(--cor-font);
    font-size: 20px;
    font-weight: 500;
}