.rodape {
    display: flex;
    justify-content: space-between;
    padding: 3.75rem 7.5rem;
    align-items: center;
    font-family: var(--font-texto);
    font-weight: 500;
    font-size: 20px;
}

.rodape__logo{
    height: 4rem;
}

.rodape__redes{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}