:root {

    --font-titulo: 'Calistoga', sans-serif;
    --font-texto: 'Raleway', sans-serif;

    --verao: linear-gradient(180deg, #BFDAE6 0%, #FCF0DD 50%, #FACF9D 100%);
    --cor-font: #444444;
    --azul-escuro: #2E7BA2;
    --mostarda: #DF9010;
    --fundo-ropade: #FACF9D;

}

main{
    font-family: var(--font-texto);
    color: var(--cor-font);
    font-size: 20px;
    font-weight: 500;
}

.container{
    background:var(--verao);
}